/*
  COLOR VARIABLES
*/
// dark
$c-dark: #333;
$c-darker: #222;
$c-darkest: #111;
// light
$c-light: #eee;
$c-lighter: #ddd;
$c-lightest: #ccc;
// themes
$c-blue-light: #00aaff;
$c-blue-lighter: lighten($c-blue-light, 10%);
$c-blue-lightest: lighten($c-blue-light, 20%);
$c-blue-dark: darken($c-blue-light, 10%);
$c-blue-darker: darken($c-blue-light, 20%);
$c-blue-darkest: darken($c-blue-light, 30%);

$c-green-light: #09b409;
$c-green-lighter: lighten($c-green-light, 10%);
$c-green-lightest: lighten($c-green-light, 20%);
$c-green-dark: darken($c-green-light, 10%);
$c-green-darker: darken($c-green-light, 20%);
$c-green-darkest: darken($c-green-light, 30%);

$c-red-light: #aa1d1d;

$c-purple-light: #933ace;

// deprecated colors
$c-white: #fff;
$c-black: #000;

