$colorList: (
  c-blue: #00aaff,
  c-indigo :#3c32db,
  c-green: #09b409,
  c-red: #aa1d1d,
  c-purple: #933ace,
  c-yellow: #ffc000,
);

:root {
  /* color */
  @each $colorKey, $colorName in $colorList {
    $dark: darken($colorName, 10%);
    $darker: darken($colorName, 20%);
    $darkest: darken($colorName, 30%);
    $light: lighten($colorName, 10%);
    $lighter: lighten($colorName, 20%);
    $lightest: lighten($colorName, 30%);

    --#{$colorKey}: #{$colorName};
    --#{$colorKey}-dark: #{$dark};
    --#{$colorKey}-darker: #{$darker};
    --#{$colorKey}-darkest: #{$darkest};
    --#{$colorKey}-light: #{$light};
    --#{$colorKey}-lighter: #{$lighter};
    --#{$colorKey}-lightest: #{$lightest};
  }

  --c-dark: #333;
  --c-darker: #222;
  --c-darkest: #111;
  --c-light: #ccc;
  --c-lighter: #ddd;
  --c-lightest: #eee;
}

// deprecated colors
$c-white: #fff;
$c-black: #000;